@font-face {
    font-family: "font1";
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
    src: url("eng.ttf?0.91");
}

@font-face {
    font-family: "font2";
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
    src: url("RifficFree-Bold.ttf?0.91");
}